/* Delete this url */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Cabin", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;

	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1 {
	@apply text-4xl;
}

code {
	@apply bg-base-300;
}

.active {
	@apply tab-active;
}

.main-content {
	@apply flex place-content-center;
	margin: 0 auto;
}

.logo {
	height: 10em;
	padding: 1.5em;
	will-change: filter;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
	@apply text-accent;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
